/*============HEADER V2 ==================*/


//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/

.typeheader-4{
    .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container{
        color: #fff;
        border: none;
        > div{
                float: $right;
             margin: 0;
        }
    }
    .header-top{
        border-bottom: 1px solid $base-border-color;
        .module{
            margin-bottom: 0;
        }
        .block-text {
            color: #777;
            float: $left;
            @include rem(font-size,12px);
            line-height: 47px;
            .fa {
                @include rem(font-size,14px);
                color: $linkColor;
            }
            .number-phone {
                color: #444;
                @include rem(font-size,14px);
                font-weight: 600;
            }
        }
        .block-email{
            @include rem(font-size,12px);
            line-height: 47px;
            color: #777;
            position: relative;
            padding-#{$left}: 20px;
            margin-#{$left}: 20px;
            float: $left;
            span{
                color: $linkColor;
                margin-#{$right}: 5px;
            }

            a{
                color: #777;
            }
            &:after {
                background-color: #ccc;
                content: "";
                height: 10px;
                position: absolute;
                #{$left}: 0;
                top: 18px;
                width: 1px;
            }
        }
        .welcome-msg,      
        .header-socials{
            display: table-cell;
            margin-bottom: 0;
        }

        .header-top-right{text-align:$right;}

        .dropdown-menu{
            li{
                line-height: 22px;
            }
        }
    }
    
    /*HTML SOCIAL*/
    .socials-wrap{
          background-color: #fff;
        float: $left;
        margin-#{$right}: 25px;
        padding: 1px 37px;
        border-#{$left}: 1px solid #e9e9e9;
        border-#{$right}: 1px solid #e9e9e9;
      ul{
        padding: 0px;
        margin:0;
        overflow: hidden;
        > li{
          float: $left;
            line-height: 46px;
            margin-#{$right}: 33px;
          a{
                color: #666;
            font-size:14px;
            &:hover{
              color: $linkColor;
            }
            span{
              margin:0;                  
            }
          }
          &:last-child{
            margin:0;
          }
        }
      }
    }
    
    // MENU ON TOP
    &.navbar-compact{
            background: #fff;
        .header-top{display: none;}

        .header-center{
            padding: 0;
            .navbar-logo .logo{
                
            }
        } 
        .header-bottom{
            margin: 0;
            /*.megamenu-style-dev{
                width: 100%;
                margin-left: 270px;
            }*/
        }
    }
    
    #main-content,#content{margin-bottom: 30px;}
    .header-top-right {display: inline-block;
        ul.top-link{list-style: none;margin:0; vertical-align:top;
            > li{   
            vertical-align: top;             
                display: inline-block; 
                position: relative;           
                list-style: outside none none;
                height: 47px; 
                line-height: 47px;
                padding-#{$right}: 20px;
                margin-#{$right}: 20px;
                padding-#{$left}: 0;
                .btn-group .btn-link{
                    padding: 0;
                    border: none;
                }
                .fa-caret-down{
                    font-size: 12px;
                }
                &:after {
                    background-color: #cacaca;
                    content: "";
                    height: 10px;
                    position: absolute;
                    #{$right}: 0;
                    top: 18px;
                    width: 1px;
                }
                >   a {
                    font-size: 12px;
                    color: #666;
                    padding-#{$left}: 3px;
                    &:hover{
                        color: $linkColor;
                    }
                }
                
                &.account{
                    > a{
                        padding: 0;
                        margin: 0;
                    }
                    &:before{
                        content: "\f007"; 
                        font-family: FontAwesome;
                        font-size: 12px;
                    }                      
                }
                &.wishlist{
                    &:before{
                        content: "\f004"; 
                        font-family: FontAwesome;
                        font-size: 11px;
                    }  
                }

                &:hover{
                    > a{color: $linkColor;}
                
                }

                &.account:hover  {
                    ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
                }

                &.language{
                    margin-#{$right}: 0;
                    padding-#{$right}: 0;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }

    .header-center{
        .navbar-logo .logo{
         padding: side-values(40px 0px 36px 0px);
        }
        .search-header-w{
            float: $left;
            width: 77%;
            padding-#{$right}: 70px;
        }
        .shopping_cart{
            width: 200px;
            .btn-shopping-cart{
                 .top_cart{
                    width: 100%;
                     .icon-c{
                       float: $left;
                         padding-#{$right}: 16px;
                        svg{
                            width: 34px;
                            height: 34px;
                            fill: #222;
                        }
                    }
                    .shopcart-inner{
                        float: $left;
                    }
                }
            }
        }
        
    }
    .header-bottom{
        background: $background;
    }
  
    // ============= BLOCK SEARCH PRO ===============
    #sosearchpro.so-search{
        margin: side-values(40px 0px 33px 0px);
        form{
            background-color: #fff;
            border: 3px solid $background;
            border-radius: 28px;
            display: inline-block;
            margin: 0;
            position: relative;
            width: 100%;
            height: 50px;
            line-height: 50px;
            .select_category{
                &:after{
                    display: none;
                }
                select{
                    -webkit-appearance: none;
                   -moz-appearance:    none;
                   appearance:         none;
                    background: url(#{$imgPath}icon/icon-search-product.png) no-repeat center $right;                              
                    border: medium none;
                    border-radius: 0 !important;
                    color: #222;
                    font-weight: 600;
                    height: 42px;
                    line-height: 42px;
                    border-top-#{$left}-radius: 28px;
                    border-bottom-#{$left}-radius: 28px;
                    padding: side-values(0 0 0 15px);
                    position: absolute;
                    #{$left}: 0;
                    top: 0;
                    z-index: 3;
                    width: 170px;
                    @include rem(font-size,14px);
                }
            } 
            .search{
                display: inline-block;
                width: 100%;
                height: 42px;
                line-height: 42px;
                margin: 0;
            }
            .autosearch-input{
                border: none;
                padding: side-values(0 0 0 190px);
                height: 42px;
                line-height: 42px;
                //border-top-#{$left}-radius: 28px;
                //border-bottom-#{$left}-radius: 28px;
                border-radius: 28px;
                background-color: #fff;
                z-index: 0;
                &:focus{
                    z-index: 0;
                }
                @media (max-width: 991px){
                   padding: side-values(0 0 0 15px); 
                }
            }
            .button-search{
                background-color: transparent;
                border: 0 none;
                border-radius: 24px;                        
                margin: 0;
                opacity: 1;
                text-indent: -999em;
                    position: absolute;
                #{$right}: 2px;
                top: 4px;
                &:before{
                    position: absolute;
                    top: 5px;
                    #{$left}: 0px;
                    text-indent: 0 !important;
                    content: "\f002";
                    font-family: FontAwesome;
                    font-size: 20px;
                    color: $linkColor;
                }
                &:hover{
                    
                }
            }
            
        }
    }
    /*BLOCK CART*/
    .block-cart{ float: $right; position: relative; padding-#{$left}: 25px;
        

    }
    .shopping_cart{
        .block-cart{
            &:before{
                display: none;
            }
        }
        h2{
            display: none; color: #444444;font-size: 12px; margin: 0; font-weight: bold;}
        .btn-shopping-cart{display: block; cursor: pointer;width: auto; padding: side-values(0px 15px 0px 14px); position: relative;
            @media (min-width: 768px){
                margin: 45px 0 44px;
            }
                
            a.top_cart{
                .shopcart .text-shopping-cart-mobi{color: $linkColor;}
                .shopcart .text-shopping-cart{
                    padding: 0px; 
                    color: #222;
                    @include rem(font-size,14px); 
                    text-transform: uppercase; 
                    font-weight: 600; 
                    margin: 0;
                        margin-top: -3px;
                }
                /*&:after{content: "\f0d7"; font-family: fontawesome;font-size: 12px;position: absolute; #{$right}: 0;bottom: 2px;}*/
                &:hover{
                    color: $linkColor;
                    .shopcart .text-shopping-cart{color: $linkColor;}
                }
                .shopcart{

                }
            } 
            .total-shopping-cart{  
                .items_cart{
                    width: 22px; 
                    height: 22px;
                    line-height: 23px;
                    text-align: center;
                    background-color: #f44;
                    @include border-radius(100%);
                    position: absolute;
                    top: -4px;
                    #{$left}: 22px;
                    @include rem(font-size, 10px);
                    color: #fff;
                }
                .items_cart2{
                    display: none;
                }
                .items_carts{
                     @include rem(font-size, 16px);
                    font-weight: 600;
                    color: $background;  
                        margin-top: -6px;
                    display: block;
                }
            }                    
        } 
        .dropdown-menu{ top: 100%; #{$right}: -15px; #{$left}: auto;
            
        }
        .shoppingcart-box:before{right: 50px;}
    }

    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
    }


    .container-megamenu.horizontal ul.megamenu > li{
        margin-#{$right}: 1px;
        > a{
            padding: 18px 15px 17px;
            line-height: 100%;
            color: #fff;
            @include border-radius(0);
        }
        &:hover,
        &.active,
        &.menu_active{
            > a{                
                color: #fff !important;
            }
        }
        &.buy_color{
            display: none;
            &:hover{
                a strong{
                    color: #fff;
                }
            }
        }
    }

    
}
