/*============HEADER V5 ==================*/


//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/

.typeheader-5{
    position: relative;
    background-color: #fff;
    padding: 10px 0;
    @include box-shadow(0 0 5px #ccc);
    .account.dropdown-menu li a{
        padding: 4px 20px;
    }
    .dropdown-menu {
        padding: 0;
    }
    .main-menu{
        ul.megamenu{
            
        }
    }

    .col-left-top{
        padding-top: 12px;
    }

    .col-right-top{
        position: absolute;
        top: 0;
        z-index: 2;
        #{$right}: 15px;
        .shopping_cart{
            float: $right;
        }
        .header_search{
            float: $right;
            position: relative;
            .icon-search{
                line-height: 50px;
                i{
                    font-size: 20px;
                    color: #444;
                }
                &.active{
                    i::before{
                        content:"\f00d";
                    }
                }
            }
            #sosearchpro.sosearchpro-wrapper{
                width: 500px;
                position: absolute;
                top: 100%;
                #{$right}: 0;
            }
            &:hover{
                cursor: pointer;
                .icon-search{
                    i{ //color: $linkColor; 
                    }
                }
            }
        }

        .block-topsetting{
            float: $right;
            position: relative;
            .dropdown-btn{
                line-height: 50px;
                padding-#{$left}: 45px;
                text-align: center;
                cursor: pointer;
                i{
                    font-size: 18px;
                    color: #444;
                    cursor: pointer;
                }
            }
            .dropdown-list-setting{
                @include transition(all 0.2s ease-in-out 0s);
                width: 200px;
                @include border-radius(10px);
                border: 1px solid #bbb;
                background-color: #fff;
                display: inline-block;
                padding: 20px;
                position: absolute;
                top: 110%;
                #{$right}: 0;
                @include effect-block-hide();
                //display: none;
                .currencies-block,
                .languages-block,
                .dropdown-menu{
                    visibility: hidden;
                }
            }
            &:hover{
                cursor: pointer;
                .dropdown-btn{
                    i{
                        //color: $linkColor;
                    }
                }
                .dropdown-list-setting{
                    top: 100%;
                    @include effect-block-show();
                    z-index: 99;
                    width: 200px;
                    //display: block;
                    .currencies-block,
                    .languages-block,
                    .dropdown-menu{
                        visibility: visible;
                    }
                }
            }
            .dropdown-menu{
                visibility: visible;
                @include opacity(1);
                margin-top: 0;
                position: static;
                border: none;
                border-radius: 0;
                box-shadow: none;
                li{
                    line-height: 22px;
                }
            }
            .currency,
            .language{
                border-bottom: 1px solid #eee;
                padding-bottom: 5px;
                > span{
                    color: #333;
                    text-transform: uppercase;
                    font-weight: 500;
                }
                .btn-group {
                    width: 100%;
                }
                .btn-link.dropdown-toggle{
                    display: none;
                }
            }
            .language{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    .header-top{

        .module{
            display: table-cell;
            margin-bottom: 0;
        }

        .header-top-left{overflow: hidden;
            .telephone{ float: $left; padding-#{$right}: 5px; }
            .welcome-msg {margin-top: 5px; height: 24px; overflow: hidden; 
                .label-msg {margin: 0;display: inline-block;position: relative;color: #fff; 
                    background: #e67e22; padding: 0 10px;border-radius: 2px; line-height: 20px;  
                }

                a {display: inline-block;margin: 0;padding: 0 6px; color: $textBody;}
                .list-msg .label-msg, .list-msg a{ font-size: 12px;} 
            }
        }
        .header-top-right{text-align:$right;}

        .dropdown-menu{
            li{
                line-height: 22px;
            }
        }
    }
    
    
    
    
    
    &.navbar-compact{
        .header-center{
            padding: 0;
        }
    }
    #main-content,#content{margin-bottom: 30px;}
    .header-top-right {display: inline-block;
        ul.top-link{list-style: none;margin:0; vertical-align:top;
            > li{      
            vertical-align: top;          
                display: inline-block; 
                position: relative;           
                list-style: outside none none;
                height: 47px; 
                line-height: 47px;
                padding-#{$right}: 20px;
                margin-#{$right}: 20px;
                padding-#{$left}: 0;
                .btn-group .btn-link{
                    padding: 0;
                    border: none;
                }
                .fa-caret-down{
                    font-size: 12px;
                }
                &:after {
                    background-color: #cacaca;
                    content: "";
                    height: 10px;
                    position: absolute;
                    #{$right}: 0;
                    top: 18px;
                    width: 1px;
                }
                >   a {
                    font-size: 12px;
                    color: #666;
                    padding-#{$left}: 3px;
                    &:hover{
                        color: $linkColor;
                    }
                }
                
                &.account{
                    > a{
                        padding: 0;
                        margin: 0;
                    }
                    &:before{
                        content: "\f007"; 
                        font-family: FontAwesome;
                        font-size: 12px;
                    }                      
                }
                &.wishlist{
                    &:before{
                        content: "\f004"; 
                        font-family: FontAwesome;
                        font-size: 11px;
                    }  
                }

                &:hover{
                    > a{color: $linkColor;}
                
                }
                /*ul.dropdown-menu{position: absolute; background: #fff; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);  opacity: 0; padding: 0px 10px; 
                    top: 33px;  transition:top 0.3s ease 0s, opacity 0.3s ease 0s; width: 200px; z-index: -1; text-align: $left; #{$left}: 0;
                    @include border-radius(5px);
                    li{display: block; border-#{$left}: 0;
                    a{display: block; padding: 5px 0 4px; border-bottom: solid 1px #efefef; font-size: 11px; line-height: 18px; color: $textBody;border-#{$right}: 0;
                        &:hover{color: $linkColor;}
                        &:after{display: none;}
                    }
                    
                    &:last-child a{border-bottom: 0;}
                    }
                }*/
                &.account:hover  {
                    ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
                }

                &.language{
                    margin-#{$right}: 0;
                    padding-#{$right}: 0;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }

   
  
    //============= BLOCK SEARCH PRO ===============
    .sosearchpro-wrapper{
        display: none;
    }
    #sosearchpro.so-search{    
       .searchbox{
           background-color: #fff;
            border: 3px solid $base-border-color;
            border-radius: 28px;
            display: inline-block;
            margin: 0;
            position: relative;
            width: 100%;
            height: 52px;
            line-height: 52px;
            .select_category{
                &:after{
                    display: none;
                }
                select{
                    -webkit-appearance: none;
                   -moz-appearance:    none;
                   appearance:         none;
                    background: url(#{$imgPath}icon/icon-search-product.png) no-repeat center $right;                              
                    border: medium none;
                    border-radius: 0 !important;
                    color: #222;
                    font-weight: 600;
                    height: 44px;
                    line-height: 44px;
                    border-top-#{$left}-radius: 28px;
                    border-bottom-#{$left}-radius: 28px;
                    padding: side-values(0 0 0 15px);
                    position: absolute;
                    #{$left}: 0;
                    top: 0;
                    z-index: 3;
                    width: 170px;
                    @include rem(font-size,14px);
                }
            } 
            form{
              
                .search{
                    display: inline-block;
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                }
                .autosearch-input{
                    border: none;
                    padding: side-values(0 0 0 190px);
                    height: 42px;
                    line-height: 42px;
                    border-radius: 28px;
                    //border-top-#{$left}-radius: 28px;
                    //border-bottom-#{$left}-radius: 28px;
                    background-color: #fff;
                    z-index: 0;
                    &:focus{
                        z-index: 0;
                    }
                }
                   
                .button-search{
                    position: absolute;
                    top: -3px;
                    #{$right}: -4px;
                    background: #222 none repeat scroll 0 0;
                    border: 0 none;
                    border-radius: 28px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    height: 52px;                
                    line-height: 52px;
                    margin: 0;
                    opacity: 1;
                    padding: 0 31px !important;    
                    text-transform: uppercase;                   
                    &:hover{
                        background-color: $background;
                    }
                    i{
                        display: none;
                    }
                }
            }
        }
    }
    /*BLOCK CART*/
    .block-cart{ float: $right; position: relative; padding-#{$left}: 25px;
    }
    .shopping_cart{
        .handle.pull-left{
            margin-top: 2px;
            font-size: 12px;
            line-height: 100%;
            color: #fff;
            display: block;
            float: $left;
            width: 18px;
            height: 18px;
            text-align: center;            
            background: url(#{$imgPath}icon/icons-sprites.png) no-repeat;
            background-position: -100px -180px ;
            position: relative;
        }
        .block-cart{
            &:before{
                display: none;
            }
        }
        h2{
            display: none; color: #444444;font-size: 12px; margin: 0; font-weight: 600;}
        .btn-shopping-cart{
            display: block; cursor: pointer;width: auto; position: relative;
            padding: side-values(12px 0 0 40px);
            a.top_cart{
                padding-bottom: 16px;
                .shopcart .text-shopping-cart{
                    display: none;
                }

            } 
            .total-shopping-cart{  
                .items_cart{
                    width: 22px; 
                    height: 22px;
                    line-height: 20px;
                    text-align: center;
                    background-color: $background;
                    @include border-radius(50%);
                    position: absolute;
                    top: -15px;
                    border: 1px solid #fff;
                    #{$right}: -15px;
                    color: #fff;
                    @include rem(font-size, 10px);
                }
                .items_cart2{
                    display: none;
                }
                .items_carts{
                    display: none;
                }
            }                    
        } 
        .dropdown-menu{ top: 100%; #{$right}: -15px; #{$left}: auto;
            
        }
        .shoppingcart-box:before{right: 50px;}
    }

    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
    }

    .container-megamenu.horizontal ul.megamenu > li.buy_color{
        display: none;
    }

    
}
