
//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/* ================================================================================ */

.footer-container{
  
}
.typefooter-2{
  background-color: #222;
  margin-top: 70px;
  /* FOOTER TOP */
  /*--- slider brands ---*/
  .footer-top {
    overflow: visible;
    .container{
      overflow: visible;
    }
    .slider-brand{
      direction: ltr;
      top: -70px;
      background-color: #fff;
      padding: 33px 40px;
      @include border-radius(10px);
      border: 1px solid $base-border-color;
      position: relative;
      .item{
        a:hover{
          img{
            @include opacity(0.8);
          }
        }
      }
    }
    .owl2-controls {    
      .owl2-nav {
        div {
          display: inline-block;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          text-indent: -999em;
          position: absolute;
          top: 50%;
          margin-top: -15px;
          z-index: 99;

          &:before {
            color:#b2b2b2;
            font-size: 30px;
            position: absolute;
            #{$left}: 0px;
            top: 0;
            display: inline-block;
            text-indent: 0;
            width: 100%;
            height: 100%;
          }

          &.owl2-next {
            #{$right}: -25px;
            &:before {
              font-family: 'FontAwesome';              
              content: "\f105";   
              @include if-rtl {
                content: "\f104"; 
              }         
            }
          }

          &.owl2-prev {
            #{$left}: -30px;
            &:before {
              font-family: 'FontAwesome';
              content: "\f104";
              @include if-rtl {
                content: "\f105"; 
              }
            }
          }
          &:hover{
            &:before{
              //color: $linkColor;
                opacity: 1;
            }
          }
        }
      }
    }
     
  }
  /* FOOTER CENTER */
  .modtitle{
        color: #f5f5f5;
        @include rem(font-size,18px);
        line-height: 20px;
        margin-bottom: 10px !important;
        padding-bottom: 25px;
        position: relative;
        font-weight: 600;
        text-transform: capitalize;
           &:before {
            background-color: #aaa;
            content: "";
            height: 2px;
            position: absolute;
            top: 35px;
            width: 20px;
            z-index: 3;
        }      
  }
  .box-footer{    
    .modcontent{
      ul{
        li{
              line-height: 35px;
              a{
                display: inline-block;
                border: 0 none;
                color: #ccc;
                @include rem(font-size,14px);
                padding: side-values(0 0 0 15px);
                position: relative;
                font-weight: 400;

                &:before{
                   background-color: #222;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    content: "";
                    height: 5px;
                    #{$left}: 0;
                    position: absolute;
                    top: 15px;
                    width: 5px;
                }
                &:hover{
                  //color: $linkColor;
                  &:before{
                    //border-color: $linkColor;
                    //  background-color: $background;
                  }
                }
              }
            }
      }
    }
  }
    .links-contact {margin-bottom: 10px;}
    ul.links-contact > li {
        @include rem(font-size, 14px);
        line-height: 24px;
        padding: 9px 0;
        color: #ccc;
        .fa {
            color: #eee;
            margin-right: 12px;
        }
        .label-footer {
          color: #eee;    
          @include rem(font-size, 14px);
          font-weight: 500;
          min-width: 70px;
          display:inline-block;
        }
        &.contact-phone {
          font-weight: 600; 
          //color: $linkColor;
          @include rem(font-size, 18px);
        }
        a{
          color: #ccc;
        }
   }
  
  .socials-wrap{
      display: inline-block;
      margin-top: 5px;
      ul{
        li{
            float: $left;
            margin-right: 10px;
          a{
             background-color: #d3d3d3;
              border-radius: 50%;
              color: #222;
              display: inline-block;
              font-size: 14px;
              height: 36px;
              line-height: 36px;
              text-align: center;
              width: 36px;

            .name-social{
              display: none;
            }
            &:hover{
              //background-color: $background;
              color: #fff;
            }
          }
        }
      }
  }
  .footer-center{
    padding: 0px 0 70px 0;
    background-color: #222;
  }

  /* FOOTER BOTTOM */
  .footer-bottom{
      background-color: #1a1a1a;
      color: #aaa;
      padding: 28px 0;
      a {color: #fff;}
      .copyright{
          margin-top: 5px;
      }
      .payment-w{
        text-align: right;
      }

  }
}