
//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/* ================================================================================ */

.footer-container{
	margin-top: 40px;
}
.typefooter-1{
	margin-top: 25px;
	/* FOOTER TOP */
	.newsletter-footer1{
		.newsletter{
			.promotext,
			.page-heading{
				display: none;
			}
			.block_content{
				background: #f5f5f5 none repeat scroll 0 0;
				padding: 0px;
				form.signup{
					position: relative;
					text-align: center;
					display: block;
					  &:before {
					    background-color: $base-border-color;
					    content: "";
					    height: 1px;
					    left: 0;
					    position: absolute;
					    top: 26px;
					    width: 100%;
					}
					
					.form-group{
					  display:inline-block;
					  margin: 0 auto;
					  text-align: center;
					  position: relative;
					  width: 66.6%;
					  .input-box input{
					    height: 52px;
					    line-height: 52px;
					    box-shadow: none;
					    padding: 0px 30px 0;
					    border: 1px solid $base-border-color;
					    @include border-radius(26px);
					    width: 100%;
					    background-color: #fff;
					  }
					}

					.subcribe button{
					  background-color: #333;
					  border: 0 none;
					  @include border-radius(24px);
					  color: #fff;
					  font-weight: 500;
					  font-size: 100%;
					  height: 52px;
					  line-height: 52px;
					  padding: 2px 28px 0;
					  position: absolute;
					  #{$right}: 0;
					  top:0;
					  text-transform: uppercase;

					  &:hover{
					    //background-color: $background;
					  }

					  
					}
				}
			}
		}
	}
	/* FOOTER CENTER */
	.modtitle{
       	color: $textColor2;
        @include rem(font-size,18px);
        line-height: 20px;
        margin-bottom: 10px !important;
        padding-bottom: 25px;
        position: relative;
        font-weight: 600;
        text-transform: capitalize;
           &:before {
            background-color: #aaa;
            content: "";
            height: 2px;
            position: absolute;
            top: 35px;
            width: 20px;
            z-index: 3;
        }      
	}
	.box-footer{		
		.modcontent{
			ul{
				li{
		           line-height: 35px;
		          a{
		            display: inline-block;
		            border: 0 none;
		            color: #666;
		            @include rem(font-size,14px);
		            padding: side-values(0 0 0 15px);
		            position: relative;
		            font-weight: 400;

		            &:before{
		               background-color: #fff;
		                border: 1px solid #555;
		                border-radius: 50%;
		                content: "";
		                height: 5px;
		                #{$left}: 0;
		                position: absolute;
		                top: 15px;
		                width: 5px;
		            }
		            &:hover{
		            	//color: $linkColor;
		            	&:before{
		            		//border-color: $linkColor;
		                	//background-color: $background;
		            	}
		            }
		          }
		        }
			}
		}
		&.box-information,
		&.box-service{
			padding-left: 0;
		}
	}
	.links-contact {margin-bottom: 15px;}
       ul.links-contact > li {
          @include rem(font-size, 14px);
          line-height: 24px;
          padding: 9px 0;
          .fa {
              color: #333;
              margin-right: 12px;
          }
          .label-footer {
			color: #333;    
			@include rem(font-size, 14px);
			font-weight: 500;
			min-width: 70px;
			display:inline-block;
          }
          &.contact-phone {
          	font-weight: 600; 
          	//color: $linkColor;
          	@include rem(font-size, 18px);
          }
     }
	.socials-wrap{
	    display: inline-block;

	    ul{
	      li{
	          float: $left;
	          margin-right: 10px;
	        a{
	           background-color: #222;
	            border-radius: 50%;
	            color: #eee;
	            display: inline-block;
	            font-size: 14px;
	            height: 36px;
	            line-height: 36px;
	            text-align: center;
	            width: 36px;

	          .name-social{
	            display: none;
	          }
	          &:hover{
	          	//background-color: $background;
	          }
	        }
	      }
	    }
	}
	.footer-center{
		padding: 75px 0 75px 0;
	}

	/* FOOTER BOTTOM */
	.footer-bottom{
	    background-color: #222;
	    color: #aaa;
	    padding: 30px 0;
	    a {color: #fff;}
	    .copyright{
	        margin-top: 5px;
	    }

	    .footer-payment{
	      text-align: $right;
	    }

	}
}