
//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/* ================================================================================ */

.footer-container{
  
}
.typefooter-4{
  background-color: #fff;

  /*--- policy ---*/
  .policy-v4 {
    border-top: 1px solid $base-border-color;
    border-bottom: 1px solid $base-border-color;
    .item {
      border-right: 1px solid $base-border-color;
      float: left;
      padding: 45px 10px;
      position: relative;
      text-align: center;
      h4 {
        color: #444;
        @include rem(font-size, 16px);
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
      p{
        color: #777;
        margin: 0;
      }
      
      &:after {
          bottom: -1px;
          content: "";
          height: 2px;
          left: 50%;
          position: absolute;
          right: 50%;
          @include transition(all 0.3s ease 0s);
      }
      &:hover:after{
          left: 0;
          right: 0;
          background-color: $background;
      }
      .item-icon{
        display: inline-block;
        height: 38px;
        margin-bottom: 10px;
        width: 38px;
        background: url(#{$imgPath}icon/icons-sprites.png) no-repeat;
      }
      &.item1 {
         border-left: 1px solid $base-border-color;
        .item-icon{
          background-position: -186px 0; 
       }
      }
      &.item2 .item-icon{
        background-position: -184px -50px; 
      }
      &.item3 .item-icon{
        background-position: -186px -109px;
      }
      &.item4 .item-icon {
        background-position: -180px -165px;
      }
    }
   
  }

  /*--- newsletter ---*/
  .newsletter{
    .page-heading {
          color: #444;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 20px;
      margin-bottom: 0px !important;
      padding-bottom: 15px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .promotext{
      margin-bottom: 10px;
    }
    .block_content{

      form.signup{
        display: block;
        
        .form-group{
          display:inline-block;
          margin: 0 auto;
          position: relative;
          width: 80%;
          input{
            height: 48px;
            line-height: 48px;
            box-shadow: none;
            padding: 3px 30px 0;
            border: 3px solid $background;
            @include border-radius(24px);
            width: 100%;
            background-color: #fff;
            @include rem(font-size,14px);
            color: #999;
          }
        }

        .subcribe{
          position: absolute;
          #{$right}: 0;
          top:0;
          button{          
            position: relative;
            #{$right}: 10px;
            top: 3px;
            display: block;
            text-indent: -999em;
            background-color: #fff;
            @include border-radius(24px);
            height: 40px;
            line-height: 40px;
            &:before{
              position: absolute;
              top: 0;
              #{$left}: 0;
              content: '\f1d8';
              font-family: 'FontAwesome';
              font-size: 20px;
              text-indent: 0 !important;
              color: $linkColor;

            }
            &:hover{
   
            }

            
          }
        } 
      }
    }
  }

  /*--- slider brands ---*/
  .slider-brand-footer {
      padding: 35px 0px;
      position: relative;
      @include if-rtl {
        direction: ltr;
      } 
      .item{
        a:hover{
          img{
            @include opacity(0.8);
          }
        }
      }
    .owl2-controls {    
      .owl2-nav {
        position: static;
        > div{
          @include transform(scale(0));
          @include transition(all 0.3s ease 0s);
          @include button-owl-style4(56px,14px,#e9e9e9);
             // background: #fff;
          
        }
        
      }
    }
    &:hover{
      .owl2-controls .owl2-nav {
            > div {
                @include transform(scale(1));
                &:hover{
                  &:before{
                    color: #fff !important;
                  }
                }
            }
        }
    }
     
  }
  /* FOOTER CENTER */
  .modtitle{
    color: #444;
    @include rem(font-size,16px);
    line-height: 20px;
    margin-bottom: 0px !important;
    padding-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;          
  }
  .box-footer{    
    .modcontent{
      ul{
        li{
          line-height: 35px;
          a{
            display: inline-block;
            border: 0 none;                
            @include rem(font-size,14px);
            padding: side-values(0 0 0 15px);
            position: relative;
            font-weight: 400;

            &:before{
               background-color: #666;                  
                border-radius: 50%;
                content: "";
                height: 5px;
                #{$left}: 0;
                position: absolute;
                top: 15px;
                width: 5px;
            }
            &:hover{
              color: $linkColor;
              &:before{                   
                background-color: $background;
              }
            }
          }
        }
      }
    }
  }

  .socials-wrap{
      display: inline-block;
      margin-top: 25px;
      ul{
        li{
            float: $left;
            margin-right: 10px;
          a{
            background-color: #f2f2f2;
            border-radius: 50%;
            color: $linkColor;
            display: inline-block;
            font-size: 14px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            width: 36px;

            .name-social{
              display: none;
            }
            &:hover{
              background-color: $background;
              color: #fff !important;
            }
          }
        }
      }
  }
  .footer-center{
    padding: 60px 0 40px 0;
  }

  .footer-center2{
    background-color: #f5f5f5;
    .container{
      overflow: visible;
    }
    img{
      @include transition(all 0.4s ease);
      &:hover{
        @include opacity(0.7);
      }
    }
  }


  /* FOOTER BOTTOM */
  .footer-bottom{
      background-color: #fff;
      padding: 20px 0;
      a { color: #444; }
      .copyright{
          margin-top: 5px;
          color: #444;
      }

      .footer-payment{
        text-align: $right;
      }

  }
}