<p>Dear {{ firstname }} {{ lastname }},</p>

<p>Thank you for your order (Order ID: {{ order_id }}).</p>

<p>We will process this directly with NDIA for approval.</p>

<p>If additional details are required, a member of our team will contact you directly.</p>

<p>Thank you for choosing Mobilitycare.</p>

<p>Best regards,<br>
Mobilitycare Team</p>