 @include breakpoint(md){
    .common-home {
        .container{
            overflow: visible;
        }
    }
    #content .so-page-builder .container{
        //padding: 0 15px;
    }
    .container-megamenu ul.megamenu li.menu-layouts .sub-menu .content .item-layouts .col-md-4{
            min-height: 100px !important;
    }
    //SHOW MORE Footer
    footer #collapse-footer{max-height: 100%;
        &:before{display:none;}
    }
      /************************************************************************************************
        BLOCK HOME PAGE  
    *************************************************************************************************/
    #content #so-groups{
        display: none;
    }
    
    /* ***********************************************************************************************
        BLOCK HEADER  
    *************************************************************************************************/
    .horizontal ul.megamenu > li > .sub-menu{
        max-width: unset;
    }
      /* ***********************************************************************************************
        BLOCK HEADER  
    *************************************************************************************************/
     
     /*[] HEADER 1 []*/ 
     #content,
    header{
        .horizontal ul.megamenu > li.buy_color{ display: none; }
     
        .container-megamenu ul.megamenu{
            li.item-style3 .sub-menu{
                width: 500px !important;
            }
            li.style1 .sub-menu{
                width: 610px !important;
            }
        } 
        .container-megamenu ul.megamenu li .sub-menu {
            .content{
                .item-layouts{
                    div{
                        min-height: 140px;
                        line-height: 18px;
                    }
                }
            }

        }
        .container-megamenu ul.megamenu li.style-page .sub-menu {
             @include if-ltr{             
                right: 10%;
              }  
              @include if-rtl {
                left: 28%;
                right: auto;
              }  
           
        }
        
        
    }

    /*[] HEADER 1 []*/ 
    header.typeheader-1{
        .header-top .socials-wrap{
            padding: 1px 20px 1px 21px;
            ul > li{
                    margin-#{$right}: 27px;
                    &:last-child{
                        margin-#{$right}: 0px;
                    }
            }
        }
        .header-center .navbar-logo .logo{
            padding: 44px 10px;
        }
        .navbar-logo{
            width: 25%;
        }
        .header-center-right{
            width: 75%;
        }
        .header-center{
            .search-header-w{
                width: 72%; 
            }
            .shopping_cart{
                width: 28%;
            }
        } 
        .header-bottom{
            border-top: 1px solid #ddd;
        }
    }

    /*[] HEADER 2 []*/
    header.typeheader-2{
        .header-center .search-header-w{
            width: 70%;
            padding-#{$right}: 30px;
        }
    } 
   
    /*[] HEADER 3 []*/
    header.typeheader-3{
        .container-megamenu.horizontal ul.megamenu > li > a{
            padding: 19px 8px;
            font-size: 13px;
        }     
        .container-megamenu.vertical .vertical-wrapper ul.megamenu{
            padding-top: 5px;
            > li{
                padding: 0 10px;
                > a{
                    padding: side-values(10px 0 10px 15px);
                    line-height: 100%;
                    .fa-angle-right:before{
                            #{$right}: -5px;
                        top: 11px;
                    }
                }
                &.loadmore i {
                    left: 0px;
                    top: 17px;
                }
            }
        } 
        #sosearchpro.so-search{
            .select_category select{
                width: 176px;
            }
            form .autosearch-input{
                width: 74%;
            }
        }   
        
    } 
    .common-home .typeheader-3 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a::before{
        top: 17px;
    }

    /*[] HEADER 4 []*/
    header.typeheader-4{
        .header-center .search-header-w{
            width: 70%;
            padding-#{$right}: 30px;
        }
        .container-megamenu.horizontal ul.megamenu > li > a{
            padding: 19px 10px;
        }

    }

    /*[] HEADER 5 []*/
    header.typeheader-5{
        .container-megamenu.horizontal ul.megamenu > li{
            margin-#{$right}: 15px;
            > a{
                padding: 15px 0px;
            }
        }
    }

    


    /************************************************************************************************
        BLOCK HOME PAGE  
    *************************************************************************************************/

    /*[] LAYOUT 1 []*/
    .layout-1{
        .so-listing-tabs .ltabs-wrap .ltabs-tabs-container ul.ltabs-tabs li{
            width: 125px;
            margin: 0 5px;
        }
        .slider-brands.arrow-default .owl2-nav{
            .owl2-prev{
                #{$left}: 0;
                #{$right}: auto;
            }
            .owl2-next{
                #{$right}: 0;
                #{$left}: auto;
            }
        } 
    }
    

    /*[] LAYOUT 2 []*/
    .common-home.layout-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a::before{
        top: 20px;
    }
    .layout-2{

        .container-megamenu.vertical .vertical-wrapper ul.megamenu > li{
            padding-#{$left}: 20px;
            > a{
                padding: side-values(12px 0 12px 15px);
            }
        } 

        .banners-1 .banner-first{
            margin-bottom: 22px;
        }
        .block-newsletter .newsletter .page-heading{
            font-size: 23px;
        }
        .product-simple .so-extraslider .extraslider-inner .item .item-inner{
            margin-bottom: 16px;
        }

        .deals-layout2 .group-time{
            margin-bottom: 30px;
        }
    } 

    /*[] LAYOUT 3 []*/
    .common-home.layout-3 #content .module h3.modtitle span{
        font-size: 18px;
    }
    .layout-3{

        .product-simple .so-extraslider .extraslider-inner .item .item-inner{
            .item-image{
                width: 80px;
            }
            .item-info{
                margin-left: 95px;
                .price .price-old{
                    padding: 0;
                    font-size: 12px;
                }
            }
        } 
        ul.yt-accordion.faqs li.yt-accordion-group h3.accordion-heading{
           // line-height: unset;
        }
    }

    /*[] LAYOUT 4 []*/
    .layout-4{
       .banner-block-index4 .item-banner .item-wrap a{
            margin-top: 20px;
       }
       .so-categories{
            .cat-wrap .content-box{
                margin: 0 1%;
                width: 48%;
            }
            .modcontent{
                margin: 0 -10px;
            }
       }
    }

    /*[] LAYOUT 5 []*/
    .layout-5{
        .box-content3{
            margin: 0 auto;
            .id5-block-text{
                width: 80%;
                float: none;
            }
        } 
        .custom-extra .so-extraslider .owl2-nav > div.owl2-prev{
            #{$left}: 0;
            z-index: 99;
        }
        .custom-extra .so-extraslider .owl2-nav > div.owl2-next{
            #{$right}: 0;
            z-index: 99;
        }

        .testimonial-slider.layout5 .carousel-inner .item .client-comment{
            width: 70%;
        }

        .module.sohomepage-slider .owl2-controls .owl2-dots{
            z-index: 999;
        }
       
    }

    /* ***********************************************************************************************
        BLOCK FOOTER  
    ************************************************************************************************ */

    /*[] FOOTER 1 []*/
    footer{
    } 
    
    /*[] FOOTER 2 []*/
    footer.typefooter-2{
        
    }

    .typefooter-4{
        .slider-brand-footer .owl2-controls .owl2-nav > div{
            &.owl2-next{
                #{$right}: 0;
            }
            &.owl2-prev{
                #{$left}: 0;
            }
        }
        .policy-v4 .item p{
            font-size: 12px;
        }
    } 

    /*[] FOOTER 5 []*/
    footer.typefooter-5{
        .socials-footer li{
            margin-#{$right}: 30px;
        }
    } 
  
    /************************************************************************************************
        MEGAMENU 
    *************************************************************************************************/
   /*.horizontal ul.megamenu > li > .sub-menu{
        #{$right}: 0;
        #{$left}: auto;
   }*/
   
    /************************************************************************************************
        PAGE LISTING  
    *************************************************************************************************/
    #wrapper{ overflow-x: hidden; }
    .thumb-vertical-outer { padding: 20px 0;}
    .related-products .image, div.so-extraslider.grid .image{ width: 40%;}
    div.products-list.grid .product-layout .product-item-container{
        .left-block .quickview,
        .button-group button{opacity: 1;}
    }
    .producttab .tabsslider .nav-tabs li a{ padding: 10px; }

    .module.so_filter_wrap .modcontent .so-filter-content-opts-container .put-min_max{
        width: 100%;
        margin-bottom: 5px;
    }

    .product-listing .products-list .product-grid .product-item-container .right-block{
        //min-height: 140px;
    }
    .filters-panel .list-view #grid-view-4, 
    .filters-panel .list-view #grid-view-5{
        display: none;
    }
    /************************************************************************************************
        PAGE DETAIL  
    *************************************************************************************************/
    .product-view .content-product-right .box-info-product .cart input{
        padding: 0 15px;
    }
    .content-aside .module h3.modtitle span{
        font-size: 13px;
    }
    .product-view .content-product-right .share .socials-wrap ul li{
        margin-#{$left}: 25px;
    }
    .upsell-sidebar.product-simple .so-extraslider .extraslider-inner .item .item-inner{
        .item-image{
            width: 80px;
        }
        .item-info{
            margin-left: 95px;
            .price .price-old{
                padding: 0;
                font-size: 12px;
            }
        }
    } 
    .upsell-sidebar h3.modtitle{
        padding-#{$left}: 5px;
    }
    .upsell-sidebar .so-extraslider .owl2-controls .owl2-nav{
        #{$right}: 5px;
    }

    
    /*==============*/
    .so-onepagecheckout{
        .coupon-voucher .panel-body{
            width: 100%;
        }
        .coupon-voucher .input-group{
            margin-bottom: 10px;
            .input-group-btn{
                margin-#{$left}: 10px;
                width: auto;
            }
        }
        .table-responsive .btn-danger{
            margin-top: 0;
        }

        .checkout-cart td.quantity .input-group input{
            float: none;
            margin: 0 auto 5px;
        }
    } 
    .so-onepagecheckout .checkout-cart .input-group-btn{
        min-width: 50px;
        margin-top: 5px;
    }

    .blog-listitem.list .blog-item{
        width: 100%;
    }

    .hidden-scorll{
        overflow: auto;
    }

    .blog-listitem .blog-item .blog-item-inner .blog-content h4{
        min-height: 48px;
    }

    .list-view .btn-gridview{
        display: none;
    }

    .products-list .product-table .list-block .addToCart{
        padding: 9px 10px;
    }
    .container-megamenu.horizontal ul.megamenu > li > a{
            padding: 15px 10px;
    }
    .article--style5 .article--maintitle{
            position: relative;
        transform: translateY(0%);
        margin-top: 20px;
    }
       .article--style5 .article--maintitle .article-title,
     .article--style5 .article--maintitle .article-sub-title{
        background: #111;
     }
     .account-wishlist .table-responsive .btn-danger{
        margin-top: 5px;
    }
     .item-style1 {
        .sub-menu{
                width: 755px !important;
        }
     }
     .container-megamenu.horizontal ul.megamenu li.item-style2 .sub-menu{
            left: 0;
            max-width: 670px; 
      }
     .container-megamenu.horizontal{
        .item-style1,
        .menu-features{
            .sub-menu{
                right: auto !important;
                left: 0;
                max-width: 670px;
            }
        }
    }
     .products-list .product-grid .product-item-container .button-group .btn-button{
        width: 50%; 

        &.compare:after{
            display: none;
        }
    }
    .loaded{
        .so-filter-gird.loading-gif{
            background: transparent;
        }
    }
}

