@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #1071dc; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/* ================================================================================ */
.typefooter-4 {
  background-color: #fff;
  /*--- policy ---*/
  /*--- newsletter ---*/
  /*--- slider brands ---*/
  /* FOOTER CENTER */
  /* FOOTER BOTTOM */ }
  .typefooter-4 .policy-v4 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
  .typefooter-4 .policy-v4 .item {
    border-right: 1px solid #ccc;
    float: left;
    padding: 45px 10px;
    position: relative;
    text-align: center; }
  .typefooter-4 .policy-v4 .item h4 {
    color: #444;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 16px;
    font-size: 1.6rem;
    /* [8] */
    font-weight: 600;
    margin: 0;
    padding: 0; }
  .typefooter-4 .policy-v4 .item p {
    color: #777;
    margin: 0; }
  .typefooter-4 .policy-v4 .item:after {
    bottom: -1px;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    right: 50%;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s; }
  .typefooter-4 .policy-v4 .item:hover:after {
    left: 0;
    right: 0;
    background-color: #1071dc; }
  .typefooter-4 .policy-v4 .item .item-icon {
    display: inline-block;
    height: 38px;
    margin-bottom: 10px;
    width: 38px;
    background: url(../../images/icon/icons-sprites.png) no-repeat; }
  .typefooter-4 .policy-v4 .item.item1 {
    border-left: 1px solid #ccc; }
  .typefooter-4 .policy-v4 .item.item1 .item-icon {
    background-position: -186px 0; }
  .typefooter-4 .policy-v4 .item.item2 .item-icon {
    background-position: -184px -50px; }
  .typefooter-4 .policy-v4 .item.item3 .item-icon {
    background-position: -186px -109px; }
  .typefooter-4 .policy-v4 .item.item4 .item-icon {
    background-position: -180px -165px; }
  .typefooter-4 .newsletter .page-heading {
    color: #444;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    margin-bottom: 0px !important;
    padding-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase; }
  .typefooter-4 .newsletter .promotext {
    margin-bottom: 10px; }
  .typefooter-4 .newsletter .block_content form.signup {
    display: block; }
  .typefooter-4 .newsletter .block_content form.signup .form-group {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 80%; }
    .typefooter-4 .newsletter .block_content form.signup .form-group input {
      height: 48px;
      line-height: 48px;
      box-shadow: none;
      padding: 3px 30px 0;
      border: 3px solid #1071dc;
      border-radius: 24px;
      -moz-border-radius: 24px;
      -webkit-border-radius: 24px;
      width: 100%;
      background-color: #fff;
      /* [4] */
      /* [6] */
      /* [6] */
      /* [7] */
      font-size: 14px;
      font-size: 1.4rem;
      /* [8] */
      color: #999; }
  .typefooter-4 .newsletter .block_content form.signup .subcribe {
    position: absolute;
    right: 0;
    top: 0; }
    .typefooter-4 .newsletter .block_content form.signup .subcribe button {
      position: relative;
      right: 10px;
      top: 3px;
      display: block;
      text-indent: -999em;
      background-color: #fff;
      border-radius: 24px;
      -moz-border-radius: 24px;
      -webkit-border-radius: 24px;
      height: 40px;
      line-height: 40px; }
      .typefooter-4 .newsletter .block_content form.signup .subcribe button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '\f1d8';
        font-family: 'FontAwesome';
        font-size: 20px;
        text-indent: 0 !important;
        color: #1071dc; }
      .typefooter-4 .slider-brand-footer {
        padding: 35px 0px;
        position: relative; }
  .typefooter-4 .slider-brand-footer .item a:hover img {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8; }
  .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav {
    position: static; }
  .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    background-color: #e9e9e9;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    opacity: 1;
    border: none; }
    .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div:before {
      color: #1071dc;
      font-family: 'FontAwesome';
      position: absolute;
      top: 0px;
      left: 0;
      display: inline-block;
      text-indent: 0;
      width: 100%;
      height: 100%;
      font-size: 14px; }
    .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div.owl2-next {
      right: 0;
      left: auto;
      z-index: 3; }
      @media (min-width: 1200px) {
        .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div.owl2-next {
          right: -70px; } }
      .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div.owl2-next:before {
        content: "\f054"; }
    .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div.owl2-prev {
      left: 0;
      z-index: 3;
      right: auto; }
      @media (min-width: 1200px) {
        .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div.owl2-prev {
          left: -70px; } }
      .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div.owl2-prev:before {
        content: "\f053"; }
    .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div:hover {
      background-color: #1071dc;
      border: none; }
      .typefooter-4 .slider-brand-footer .owl2-controls .owl2-nav > div:hover:before {
        color: #fff; }
  .typefooter-4 .slider-brand-footer:hover .owl2-controls .owl2-nav > div {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .typefooter-4 .slider-brand-footer:hover .owl2-controls .owl2-nav > div:hover:before {
      color: #fff !important; }
  .typefooter-4 .modtitle {
    color: #444;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 16px;
    font-size: 1.6rem;
    /* [8] */
    line-height: 20px;
    margin-bottom: 0px !important;
    padding-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase; }
  .typefooter-4 .box-footer .modcontent ul li {
    line-height: 35px; }
    .typefooter-4 .box-footer .modcontent ul li a {
      display: inline-block;
      border: 0 none;
      /* [4] */
      /* [6] */
      /* [6] */
      /* [7] */
      font-size: 14px;
      font-size: 1.4rem;
      /* [8] */
      padding: 0 0 0 15px;
      position: relative;
      font-weight: 400; }
      .typefooter-4 .box-footer .modcontent ul li a:before {
        background-color: #666;
        border-radius: 50%;
        content: "";
        height: 5px;
        left: 0;
        position: absolute;
        top: 15px;
        width: 5px; }
      .typefooter-4 .box-footer .modcontent ul li a:hover {
        color: #1071dc; }
        .typefooter-4 .box-footer .modcontent ul li a:hover:before {
          background-color: #1071dc; }
  .typefooter-4 .socials-wrap {
    display: inline-block;
    margin-top: 25px; }
  .typefooter-4 .socials-wrap ul li {
    float: left;
    margin-right: 10px; }
  .typefooter-4 .socials-wrap ul li a {
    background-color: #f2f2f2;
    border-radius: 50%;
    color: #1071dc;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px; }
    .typefooter-4 .socials-wrap ul li a .name-social {
      display: none; }
    .typefooter-4 .socials-wrap ul li a:hover {
      background-color: #1071dc;
      color: #fff !important; }
  .typefooter-4 .footer-center {
    padding: 60px 0 40px 0; }
  .typefooter-4 .footer-center2 {
    background-color: #f5f5f5; }
  .typefooter-4 .footer-center2 .container {
    overflow: visible; }
  .typefooter-4 .footer-center2 img {
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease; }
  .typefooter-4 .footer-center2 img:hover {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7; }
  .typefooter-4 .footer-bottom {
    background-color: #fff;
    padding: 20px 0; }
  .typefooter-4 .footer-bottom a {
    color: #444; }
  .typefooter-4 .footer-bottom .copyright {
    margin-top: 5px;
    color: #444; }
  .typefooter-4 .footer-bottom .footer-payment {
    text-align: right; }
