@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #fc9596; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/* ================================================================================ */
.typefooter-5 {
  background-color: #f5f5f5;
  /*--- newsletter ---*/
  /* --- footer links --- */
  /* FOOTER BOTTOM */ }
  .typefooter-5 .footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #dcdcdc; 
      
  }
  .typefooter-5 .footer-middle {
    padding-top: 75px;
    /*padding-bottom: 70px;*/
    display: inline-block;
    width: 100%;
  }
    
  /*.typefooter-5 .footer-middle .logo-footer {*/
  /*  margin-top: 23px; }*/
  .typefooter-5 .socials-footer {
    margin-top: 13px; }
  .typefooter-5 .socials-footer li {
    float: left;
    margin-right: 37px; }
  .typefooter-5 .socials-footer li a {
    font-size: 24px;
    color: #444; }
  .typefooter-5 .socials-footer li a:hover {
    color: #fc9596; }
  .typefooter-5 .newsletter {
    float: right;
    display: inline-flex;
    width: auto !important;
    background: transparent !important; }
  .typefooter-5 .newsletter .modtitle {
    float: left;
    margin-right: 30px;
    color: #444;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 20px;
    font-size: 2rem;
    /* [8] */
    line-height: 48px;
    margin-bottom: 0px !important;
    font-weight: 600;
    text-transform: uppercase; }
  .typefooter-5 .newsletter .page-heading, .typefooter-5 .newsletter .promotext {
    display: none; }
  .typefooter-5 .newsletter .block_content {
    float: left;
    width: 270px; }
  .typefooter-5 .newsletter .block_content form.signup {
    display: block; }
  .typefooter-5 .newsletter .block_content form.signup .form-group {
    display: inline-block;
    margin: 0 auto;
    position: relative; }
    .typefooter-5 .newsletter .block_content form.signup .form-group input {
      height: 46px;
      line-height: 46px;
      box-shadow: none;
      padding: 0 0 0 20px;
      border: 2px solid #d9dbe0;
      border-radius: 24px;
      -moz-border-radius: 24px;
      -webkit-border-radius: 24px;
      width: 100%;
      background-color: #fff;
      /* [4] */
      /* [6] */
      /* [6] */
      /* [7] */
      font-size: 14px;
      font-size: 1.4rem;
      /* [8] */
      color: #999; }
  .typefooter-5 .newsletter .block_content form.signup .subcribe {
    position: absolute;
    right: 0;
    top: 0; }
    .typefooter-5 .newsletter .block_content form.signup .subcribe button {
      position: relative;
      right: 10px;
      top: 3px;
      display: block;
      text-indent: -999em;
      background-color: #fff;
      border-radius: 24px;
      -moz-border-radius: 24px;
      -webkit-border-radius: 24px;
      height: 40px;
      line-height: 40px; }
      .typefooter-5 .newsletter .block_content form.signup .subcribe button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '\f1d8';
        font-family: 'FontAwesome';
        font-size: 15px;
        text-indent: 0 !important;
        color: #444; }
      .typefooter-5 .newsletter .block_content form.signup .subcribe button:hover:before {
        color: #fc9596; }
  .typefooter-5 .footer-links li {
    float: left;
    width: 25%; }
  .typefooter-5 .footer-links li a {
    color: #444;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0px;
    display: inline-block;
    width: 100%;
    text-transform: uppercase; }
  .typefooter-5 .footer-links li a:hover {
    color: #fc9596; }
    .typefooter-5 .footer-links li a:hover:before {
      background-color: #fc9596; }
  .typefooter-5 .footer-bottom {
    background-color: #444;
    padding: 34px 0; }
  .typefooter-5 .footer-bottom .copyright {
    color: #fff; }
