.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.row_z37t{background-color:rgba(255,255,255,1); overflow:hidden;}

.section-style box-content8 {background-color:rgba(231,246,239,1);}

