.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.row_9vw8{background-image:url('../../../../../image/catalog/bg-tabs.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:fixed ;background-size:cover; overflow:hidden;}

