@charset "UTF-8";
/*============HEADER V2 ==================*/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #1071dc; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-4 {
  /*HTML SOCIAL*/
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  .typeheader-4 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
    color: #fff;
    border: none; }
  .typeheader-4 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div {
    float: right;
    margin: 0; }
  .typeheader-4 .header-top {
    border-bottom: 1px solid #ccc; }
  .typeheader-4 .header-top .module {
    margin-bottom: 0; }
  .typeheader-4 .header-top .block-text {
    color: #777;
    float: left;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 12px;
    font-size: 1.2rem;
    /* [8] */
    line-height: 47px; }
  .typeheader-4 .header-top .block-text .fa {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    color: #1071dc; }
  .typeheader-4 .header-top .block-text .number-phone {
    color: #444;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    font-weight: 600; }
  .typeheader-4 .header-top .block-email {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 12px;
    font-size: 1.2rem;
    /* [8] */
    line-height: 47px;
    color: #777;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    float: left; }
  .typeheader-4 .header-top .block-email span {
    color: #1071dc;
    margin-right: 5px; }
  .typeheader-4 .header-top .block-email a {
    color: #777; }
  .typeheader-4 .header-top .block-email:after {
    background-color: #ccc;
    content: "";
    height: 10px;
    position: absolute;
    left: 0;
    top: 18px;
    width: 1px; }
  .typeheader-4 .header-top .welcome-msg, .typeheader-4 .header-top .header-socials {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-4 .header-top .header-top-right {
    text-align: right; }
  .typeheader-4 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-4 .socials-wrap {
    background-color: #fff;
    float: left;
    margin-right: 25px;
    padding: 1px 37px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9; }
  .typeheader-4 .socials-wrap ul {
    padding: 0px;
    margin: 0;
    overflow: hidden; }
  .typeheader-4 .socials-wrap ul > li {
    float: left;
    line-height: 46px;
    margin-right: 33px; }
  .typeheader-4 .socials-wrap ul > li a {
    color: #666;
    font-size: 14px; }
    .typeheader-4 .socials-wrap ul > li a:hover {
      color: #1071dc; }
    .typeheader-4 .socials-wrap ul > li a span {
      margin: 0; }
  .typeheader-4 .socials-wrap ul > li:last-child {
    margin: 0; }
  .typeheader-4.navbar-compact {
    background: #fff; }
  .typeheader-4.navbar-compact .header-top {
    display: none; }
  .typeheader-4.navbar-compact .header-center {
    padding: 0; }
  .typeheader-4.navbar-compact .header-bottom {
    margin: 0;
    /*.megamenu-style-dev{
     width: 100%;
     margin-left: 270px;
     }*/ }
  .typeheader-4 #main-content, .typeheader-4 #content {
    margin-bottom: 30px; }
  .typeheader-4 .header-top-right {
    display: inline-block; }
  .typeheader-4 .header-top-right ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top; }
  .typeheader-4 .header-top-right ul.top-link > li {
    vertical-align: top;
    display: inline-block;
    position: relative;
    list-style: outside none none;
    height: 47px;
    line-height: 47px;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 0; }
  .typeheader-4 .header-top-right ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none; }
  .typeheader-4 .header-top-right ul.top-link > li .fa-caret-down {
    font-size: 12px; }
  .typeheader-4 .header-top-right ul.top-link > li:after {
    background-color: #cacaca;
    content: "";
    height: 10px;
    position: absolute;
    right: 0;
    top: 18px;
    width: 1px; }
  .typeheader-4 .header-top-right ul.top-link > li > a {
    font-size: 12px;
    color: #666;
    padding-left: 3px; }
    .typeheader-4 .header-top-right ul.top-link > li > a:hover {
      color: #1071dc; }
  .typeheader-4 .header-top-right ul.top-link > li.account > a {
    padding: 0;
    margin: 0; }
    .typeheader-4 .header-top-right ul.top-link > li.account:before {
      content: "\f007";
      font-family: FontAwesome;
      font-size: 12px; }
  .typeheader-4 .header-top-right ul.top-link > li.wishlist:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 11px; }
  .typeheader-4 .header-top-right ul.top-link > li:hover > a {
    color: #1071dc; }
  .typeheader-4 .header-top-right ul.top-link > li.account:hover ul.dropdown-link {
    top: 34px;
    z-index: 9999;
    opacity: 1;
    border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-4 .header-top-right ul.top-link > li.language {
    margin-right: 0;
    padding-right: 0; }
    .typeheader-4 .header-top-right ul.top-link > li.language:after {
      display: none; }
  .typeheader-4 .header-center .navbar-logo .logo {
    padding: 40px 0px 36px 0px; }
  .typeheader-4 .header-center .search-header-w {
    float: left;
    width: 77%;
    padding-right: 70px; }
  .typeheader-4 .header-center .shopping_cart {
    width: 200px; }
  .typeheader-4 .header-center .shopping_cart .btn-shopping-cart .top_cart {
    width: 100%; }
    .typeheader-4 .header-center .shopping_cart .btn-shopping-cart .top_cart .icon-c {
      float: left;
      padding-right: 16px; }
      .typeheader-4 .header-center .shopping_cart .btn-shopping-cart .top_cart .icon-c svg {
        width: 34px;
        height: 34px;
        fill: #222; }
    .typeheader-4 .header-center .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
      float: left; }
  .typeheader-4 .header-bottom {
    background: #1071dc; }
  .typeheader-4 #sosearchpro.so-search {
    margin: 40px 0px 33px 0px; }
  .typeheader-4 #sosearchpro.so-search form {
    background-color: #fff;
    border: 3px solid #1071dc;
    border-radius: 28px;
    display: inline-block;
    margin: 0;
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px; }
  .typeheader-4 #sosearchpro.so-search form .select_category:after {
    display: none; }
  .typeheader-4 #sosearchpro.so-search form .select_category select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../images/icon/icon-search-product.png) no-repeat center right;
    border: medium none;
    border-radius: 0 !important;
    color: #222;
    font-weight: 600;
    height: 42px;
    line-height: 42px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    padding: 0 0 0 15px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 170px;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */ }
  .typeheader-4 #sosearchpro.so-search form .search {
    display: inline-block;
    width: 100%;
    height: 42px;
    line-height: 42px;
    margin: 0; }
  .typeheader-4 #sosearchpro.so-search form .autosearch-input {
    border: none;
    padding: 0 0 0 190px;
    height: 42px;
    line-height: 42px;
    border-radius: 28px;
    background-color: #fff;
    z-index: 0; }
  .typeheader-4 #sosearchpro.so-search form .autosearch-input:focus {
    z-index: 0; }
  @media (max-width: 991px) {
        .typeheader-4 #sosearchpro.so-search form .autosearch-input {
          padding: 0 0 0 15px; } }
  .typeheader-4 #sosearchpro.so-search form .button-search {
    background-color: transparent;
    border: 0 none;
    border-radius: 24px;
    margin: 0;
    opacity: 1;
    text-indent: -999em;
    position: absolute;
    right: 2px;
    top: 4px; }
  .typeheader-4 #sosearchpro.so-search form .button-search:before {
    position: absolute;
    top: 5px;
    left: 0px;
    text-indent: 0 !important;
    content: "\f002";
    font-family: FontAwesome;
    font-size: 20px;
    color: #1071dc; }
  .typeheader-4 .block-cart {
    float: right;
    position: relative;
    padding-left: 25px; }
  .typeheader-4 .shopping_cart .block-cart:before {
    display: none; }
  .typeheader-4 .shopping_cart h2 {
    display: none;
    color: #444;
    font-size: 12px;
    margin: 0;
    font-weight: bold; }
  .typeheader-4 .shopping_cart .btn-shopping-cart {
    display: block;
    cursor: pointer;
    width: auto;
    padding: 0px 15px 0px 14px;
    position: relative; }
  @media (min-width: 768px) {
      .typeheader-4 .shopping_cart .btn-shopping-cart {
        margin: 45px 0 44px; } }
  .typeheader-4 .shopping_cart .btn-shopping-cart a.top_cart {
    /*&:after{content: "\f0d7"; font-family: fontawesome;font-size: 12px;position: absolute; #{$right}: 0;bottom: 2px;}*/ }
  .typeheader-4 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart-mobi {
    color: #1071dc; }
  .typeheader-4 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart {
    padding: 0px;
    color: #222;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    margin-top: -3px; }
  .typeheader-4 .shopping_cart .btn-shopping-cart a.top_cart:hover {
    color: #1071dc; }
    .typeheader-4 .shopping_cart .btn-shopping-cart a.top_cart:hover .shopcart .text-shopping-cart {
      color: #1071dc; }
  .typeheader-4 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart {
    width: 22px;
    height: 22px;
    line-height: 23px;
    text-align: center;
    background-color: #f44;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    top: -4px;
    left: 22px;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 10px;
    font-size: 1rem;
    /* [8] */
    color: #fff; }
  .typeheader-4 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart2 {
    display: none; }
  .typeheader-4 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_carts {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 16px;
    font-size: 1.6rem;
    /* [8] */
    font-weight: 600;
    color: #1071dc;
    margin-top: -6px;
    display: block; }
  .typeheader-4 .shopping_cart .dropdown-menu {
    top: 100%;
    right: -15px;
    left: auto; }
  .typeheader-4 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-4 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li {
    margin-right: 1px; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li > a {
    padding: 18px 15px 17px;
    line-height: 100%;
    color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
    color: #fff !important; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.buy_color {
    display: none; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.buy_color:hover a strong {
    color: #fff; }
